src/assets/node-red/lib/flows/voice/Alarm example.json
[
  {
    "id": "cadd9c9f.77cfc",
    "type": "mqtt in",
    "z": "f12ddf57.809",
    "name": "",
    "topic": "node/motion-detector:0/pir/-/armed",
    "qos": "2",
    "broker": "1ab07ede.641601",
    "x": 740.1667022705078,
    "y": 634.0001192092896,
    "wires": [["bd422546.d1a268"]]
  },
  {
    "id": "bd422546.d1a268",
    "type": "function",
    "z": "f12ddf57.809",
    "name": "Save armed state",
    "func": "flow.set(\"alarmArmed\", msg.payload);\nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1058.1666564941406,
    "y": 634.0002012252808,
    "wires": [[]]
  },
  {
    "id": "832545fa.b38298",
    "type": "mqtt in",
    "z": "f12ddf57.809",
    "name": "",
    "topic": "node/motion-detector:0/pir/-/event-count",
    "qos": "2",
    "broker": "a5605d5c.f080e",
    "x": 751,
    "y": 552.6666870117188,
    "wires": [["4e7355d1.f8dc6c"]]
  },
  {
    "id": "4e7355d1.f8dc6c",
    "type": "function",
    "z": "f12ddf57.809",
    "name": "Check armed state",
    "func": "const state = flow.get(\"alarmArmed\", msg.payload)||true;\nif(state) {\n    return msg;\n} \nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 1059.1667785644531,
    "y": 552.000036239624,
    "wires": [["200f2dd.b2982d2"]]
  },
  {
    "id": "200f2dd.b2982d2",
    "type": "debug",
    "z": "f12ddf57.809",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1302.1667442321777,
    "y": 551.6667022705078,
    "wires": []
  },
  {
    "id": "d284672.70f3098",
    "type": "comment",
    "z": "f12ddf57.809",
    "name": "Alarm output ",
    "info": "",
    "x": 1300.1668167114258,
    "y": 512.6667041778564,
    "wires": []
  },
  {
    "id": "1ab07ede.641601",
    "type": "mqtt-broker",
    "z": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "a5605d5c.f080e",
    "type": "mqtt-broker",
    "z": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  }
]
