src/assets/node-red/lib/flows/power-controller.json
[{"id":"97dd18e9.f922f8","type":"mqtt in","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/thermometer/0:1/temperature","qos":"2","broker":"29fba84a.b2af58","x":580,"y":1140,"wires":[["e842007f.26495"]]},{"id":"9460f9da.b45148","type":"mqtt in","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/info","qos":"2","broker":"29fba84a.b2af58","x":500,"y":1180,"wires":[["e842007f.26495"]]},{"id":"eee55b47.dd10d8","type":"mqtt out","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/relay/-/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":780,"y":1340,"wires":[]},{"id":"fe50a531.c634e8","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1320,"wires":[["eee55b47.dd10d8"]]},{"id":"8c5ee784.899e28","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1360,"wires":[["eee55b47.dd10d8"]]},{"id":"cb63f06.fec4e1","type":"mqtt in","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/relay/-/state","qos":"2","broker":"29fba84a.b2af58","x":520,"y":1220,"wires":[["e842007f.26495"]]},{"id":"3094be03.32fbf2","type":"mqtt out","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/led-strip/-/color/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":1500,"wires":[]},{"id":"ad258933.439468","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"\"#002200\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1480,"wires":[["3094be03.32fbf2"]]},{"id":"3f06f46d.83655c","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"\"#000000(30)\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":1540,"wires":[["3094be03.32fbf2"]]},{"id":"d1e9d762.0e9928","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"\"#220000\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1440,"wires":[["3094be03.32fbf2"]]},{"id":"c1755714.837448","type":"mqtt out","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/led-strip/-/compound/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":800,"y":1620,"wires":[]},{"id":"22bfd1dc.4d9cae","type":"inject","z":"5c84ed0.c41c014","name":"","topic":"","payload":"[20, \"#ff0000\", 20, \"#00ff00\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1620,"wires":[["c1755714.837448"]]},{"id":"97fad967.2bcc98","type":"inject","z":"5c84ed0.c41c014","name":"icicle","topic":"","payload":"{\"type\":\"icicle\", \"wait\":50, \"color\":\"#ff0000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1700,"wires":[["49ee15f5.4605ec"]]},{"id":"49ee15f5.4605ec","type":"mqtt out","z":"5c84ed0.c41c014","name":"","topic":"node/power-controller:0/led-strip/-/effect/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":1700,"wires":[]},{"id":"c6a9379b.e799e8","type":"inject","z":"5c84ed0.c41c014","name":"pulse-color","topic":"","payload":"{\"type\":\"pulse-color\", \"wait\":20, \"color\":\"#0000ff\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1740,"wires":[["49ee15f5.4605ec"]]},{"id":"e842007f.26495","type":"debug","z":"5c84ed0.c41c014","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1180,"wires":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]